{
 "address": "< YOUR-ADDRESS-HERE >",
 "description": "",
 "files": {
  "index.html": {
   "sha512": "91d85acee11aaf0d39af7e67cae27edb845a59a74e43fe59050d6911b9a11509",
   "size": 250
  }
 },
 "ignore": "(data/.*|.git|node_modules|app|gulpfile.js|package.json|README.md|webpack.config.js)",
 "includes": {
  "data/users/content.json": {
   "signers": [],
   "signers_required": 1
  }
 },
 "inner_path": "content.json",
 "modified": 1470060415.504735,
 "postmessage_nonce_security": true,
 "sign": [
  77606092583458500908514260643504034925308056799631208566486213320698908814799,
  734931360114226019502773990816301157799515020694254105257523366115399572541
 ],
 "signers_sign": "HFX8Ge0Sqj0sy6Il4XewV1ntyY0FfWzQibOiqXqcrmTjRdpEV0WPAOEQKV/SCB/2Tq+4IiyJDJsCxMqI56mrfas=",
 "signs": {
  "1Q7tdNp38yky9pWidPXa6QV8H8e3sxqYeR": "HKw7h9X70yGcLZYkjh+UHJ+kUrDx/TxC0xb+d2qQe+mqrwQVKRMIwOIh0SbttM4jHvHRMB6fBSDQn1iqKLuKvxk="
 },
 "signs_required": 1,
 "title": "ZeroTube Dev",
 "zeronet_version": "0.3.7"
}
